* {
    margin: 0;
    padding: 0;

}

h2 {
    font-size: small;
    padding-top: 62.5px;
}


.parent {
    display: grid;
    grid-template-columns: 100px 425px repeat(2, 1fr)425px 100px;
    grid-template-rows: 100px 50px repeat(2, 1fr) 125px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.Navbar {
    grid-area: 1 / 3 / 2 / 5;
    padding-top: 50px;
    background-color: #2596BE;
}

.Text {
    grid-area: 3 / 2 / 4 / 3;
    padding-top: 25px;
    background-color: #2596BE;
    color: white;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    font-size: large;
}

.Text2 {
    grid-area: 4 / 2 / 5 / 3;
    padding-top: 25px;
    background-color: #2596BE;
    color: white;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    font-size: large;
}

.Maps {
    grid-area: 3 / 4 / 5 / 6;
    padding-top: 50px;
    min-height: 450px;
    min-width: 871px;
    border-radius: 25px;
}

footer {
    background-color: #2596BE;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125px;
}
a:link {
    color: #ffffff;
  }
  
  /* visited link */
  a:visited {
    color: #ffffff;
  }
  
  /* mouse over link */
  a:hover {
    color: #ffffff;
  }
  
  /* selected link */
  a:active {
    color: #ffffff;
  }
.Pictoram {
    grid-area: 1 / 7 / 2 / 5;
    background-color: #2596BE;
    padding-top: 25px;
    padding-left: 25px;
}

.Logo {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #2596BE;
    padding-top: 12.5px;
    padding-left: 12.5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #2596BE;
    padding: 0 10px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 500px;
    border-radius: 5px;
    border-color: black;

}


.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 500px;
}
.moving-image {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    animation: moveImage 20s linear infinite;
}
.Link-footer {
    font-size: small;
    text-align: left;

    padding-left: 25px;

}
.Text-middle {
    font-size: small;
    text-align: center;
}
@keyframes moveImage {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    50% {
        transform: translateX(calc(100vw - 55px)) rotate(0deg);
    }

    51% {
        transform: translateX(calc(100vw - 55px)) rotate(0deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

@media screen and (max-width:700px) {
    footer {
        position: relative;
    }
}
@media screen and (max-width:700px) {
    footer {
        position: relative;
    }
}